<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Job Listings</h2>
    <a class="nav-link" routerLink="/job-create" routerLinkActive="active"><button class="btn btn-success">Create Job</button></a>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let job of jobs">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.company }}</h6>
          <p class="card-text">
            <i class="fas fa-map-marker-alt me-2"></i>{{ job.location }}<br>
            {{ job.description }}
          </p>
          <button class="btn btn-primary" (click)="postJob(job.id, job.title)">Post Job</button>
        </div>
      </div>
    </div>
  </div>
</div>