@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';
/* Only import what you need */

* {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}