@import 'bootstrap/dist/css/bootstrap.min.css';
/* Only import what you need */

* {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

