.card {
  border-radius: 10px;
}
.brand-green-btn {
  background-color: rgba(202, 210, 255, 0.568);
  color: #222;
  border: none;
}
.brand-green-btn:hover {
  background-color: rgb(202, 210, 255);
  color: #222;
  cursor: pointer;
}